<ul>
  {{#each model as |legislator|}}
    <li>{{legislator.title}} {{legislator.first_name}} {{legislator.last_name}}, {{legislator.party}}<br>  <a href= {{legislator.contact_form}}>Contact</a></li>
  {{/each}}
</ul>
